*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.body{
	width: 1345px;
	height: 620px;
}
.auto{
	margin-left: auto;
	margin-right: auto;
}
.record{
	width: 1345px;
	height: 600px;
	background-color: #8097ff;
}
.name{
	width: 500px;
	height: 100px;
}
.text{
	color: white;
	font-size: 30px;
	text-align:  center;
	padding-top: 30px;
}
form{
	display: flex;
	flex-direction: column;
	width: 400px;
}
input{
	margin: 10px 0;
	padding: 5px;
	border-bottom: 2px solid #e3e3e3;
}
button{
	padding: 5px;
	background-color: #e3e3e3;
	border: unset;
	cursor: pointer;
}
h1{
    font-family:'Oswald', Open Sans, Рубик;
}
p{
    font-family:'Oswald', Open Sans, Рубик;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-ah{
    padding-top: 10px;
}
.auto{
    margin-left: auto;
    margin-right: auto;
}
.width-home{
    width: 1345px;
}
.height-logo{
    height: 75px;
}
.body{
    height: 1000px;
}
.logo{
    background-color: ;
    display: flex;
}
.logo-home{
    width: 800px;
    display: flex;
}
.logo-div{
    width: 75px;
}
.logo-img{
    width: 50px;
    padding-top: 18px;
}
.logo-name{
    width: 160px;
}
.logo-name-img{
    width: 160px;
    background-size: 100% 100%;
}
.logo-text{
    font-size: 60px;
    color: black;
}
.logo-div-2{
    width: 180px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: 0.35s;
}
.logo-div-2:hover{
    background-color: #0454bd;
}
.logo-ahreh{
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
}
.logo-ahreh:hover{
    color:#090e29;
}
.logo-premium{
    width: 300px;
}
.logo-user{
    width: 245px;
    text-align: center;
}
.logo-ahreh{
    text-decoration: none;

}
.button-premium{
    width: 300px;
    text-decoration: none;
    display: inline-block;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    background-position: right center;
}
.content{
    height: 700px;
    background-color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto; 
}
.content-right{
    height: 700px;
    width: 745px;
    margin-left: auto;
    margin-right: auto;
}
.scale{
    transition: 1s;                             /* Время эффекта */
}
.scale:hover {
    transform: scale(1.2);                     /* Увеличиваем масштаб */
}
.a:hover{
    content: оаоао;
}